/**
 * Home component
 */
.Home {
  padding: 20px 0;

  .card {
    margin-bottom: 20px;
  }
}

/**
 * Cat component
 */
.Cat {
  padding: 20px 0;
}

.row {
	margin-bottom: 15px;
    margin-top: 15px;
}